nodered.json
[
    {
        "id": "flow_tab_mqtt_simulation",
        "type": "tab",
        "label": "MQTT Simulator",
        "disabled": false,
        "info": "Simulates Data, Status, Alarm, and ESP32 messages to MQTT Broker"
    },
    {
        "id": "inject_data_loop",
        "type": "inject",
        "z": "flow_tab_mqtt_simulation",
        "name": "Every 5s",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "func_data_loop"
            ]
        ]
    },
    {
        "id": "func_data_loop",
        "type": "function",
        "z": "flow_tab_mqtt_simulation",
        "name": "Generate Data",
        "func": "let qty_topic = 10;\nlet baseTopic = \"data/mic/demo1/\";\nlet msg_loop = flow.get(\"msg_loop\") || 1;\n\nfor (let j = 1; j <= qty_topic; j++) {\n    let payload = {\n        data1: msg_loop,\n        data2: msg_loop,\n        data3: msg_loop,\n        data4: msg_loop,\n        data5: msg_loop,\n        model: \"A\"\n    };\n    node.send({\n        topic: baseTopic + \"no_\" + j,\n        payload: payload\n    });\n}\n\nflow.set(\"msg_loop\", msg_loop + 1);\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 100,
        "wires": [
            [
                "mqtt_out_node"
            ]
        ]
    },
    {
        "id": "inject_status_loop",
        "type": "inject",
        "z": "flow_tab_mqtt_simulation",
        "name": "Every 30s",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "func_status_loop"
            ]
        ]
    },
    {
        "id": "func_status_loop",
        "type": "function",
        "z": "flow_tab_mqtt_simulation",
        "name": "Generate Status",
        "func": "let qty_topic = 10;\nlet baseTopic = \"status/mic/demo1/\";\nlet statusList = [\"run\", \"run\", \"run\", \"run\", \"run\", \"alarm\", \"stop\", \"wait\"];\n\nfor (let j = 1; j <= qty_topic; j++) {\n    let randomStatus = statusList[Math.floor(Math.random() * statusList.length)];\n    node.send({\n        topic: baseTopic + \"no_\" + j,\n        payload: { status: randomStatus }\n    });\n}\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 180,
        "wires": [
            [
                "mqtt_out_node"
            ]
        ]
    },
    {
        "id": "inject_alarm_loop",
        "type": "inject",
        "z": "flow_tab_mqtt_simulation",
        "name": "Every 30s",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 260,
        "wires": [
            [
                "func_alarm_loop"
            ]
        ]
    },
    {
        "id": "func_alarm_loop",
        "type": "function",
        "z": "flow_tab_mqtt_simulation",
        "name": "Generate Alarm",
        "func": "let qty_topic = 10;\nlet baseTopic = \"alarm/mic/demo1/\";\n\nfor (let j = 1; j <= qty_topic; j++) {\n    let alarmIndex = Math.floor(Math.random() * 4) + 1;\n    let alarmName = \"alarm\" + alarmIndex;\n    let topic = baseTopic + \"no_\" + j;\n\n    // Send Active Alarm\n    node.send({\n        topic: topic,\n        payload: { status: alarmName }\n    });\n\n    // Close Alarm after 1 second\n    setTimeout(() => {\n        node.send({\n            topic: topic,\n            payload: { status: alarmName + \"_\" }\n        });\n    }, 1000);\n}\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 260,
        "wires": [
            [
                "mqtt_out_node"
            ]
        ]
    },
    {
        "id": "inject_esp32_loop",
        "type": "inject",
        "z": "flow_tab_mqtt_simulation",
        "name": "Every 5m",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 340,
        "wires": [
            [
                "func_esp32_loop"
            ]
        ]
    },
    {
        "id": "func_esp32_loop",
        "type": "function",
        "z": "flow_tab_mqtt_simulation",
        "name": "Generate ESP32",
        "func": "let qty_topic = 10;\nlet baseTopic = \"mqtt/mic/demo1/\";\n\nfor (let j = 1; j <= qty_topic; j++) {\n    let macId = \"mac-\" + Math.floor(Math.random() * 10);\n    node.send({\n        topic: baseTopic + \"no_\" + j,\n        payload: {\n            broker: 1,\n            modbus: 1,\n            mac_id: macId\n        }\n    });\n}\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 340,
        "wires": [
            [
                "mqtt_out_node"
            ]
        ]
    },
    {
        "id": "mqtt_out_node",
        "type": "mqtt out",
        "z": "flow_tab_mqtt_simulation",
        "name": "Publish to MQTT Broker",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker_local",
        "x": 610,
        "y": 220,
        "wires": []
    },
    {
        "id": "c9228b024f0b294d",
        "type": "comment",
        "z": "flow_tab_mqtt_simulation",
        "name": "no_1 - no_10",
        "info": "",
        "x": 130,
        "y": 40,
        "wires": []
    },
    {
        "id": "f422c15640b38390",
        "type": "inject",
        "z": "flow_tab_mqtt_simulation",
        "name": "Every 5s",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 860,
        "y": 100,
        "wires": [
            [
                "f916054b2d5505d0"
            ]
        ]
    },
    {
        "id": "f916054b2d5505d0",
        "type": "function",
        "z": "flow_tab_mqtt_simulation",
        "name": "Generate Data",
        "func": "let qty_topic = 20;\nlet baseTopic = \"data/mic/demo1/\";\nlet msg_loop = flow.get(\"msg_loop\") || 1;\n\nfor (let j = 11; j <= qty_topic; j++) {\n    let payload = {\n        data1: msg_loop,\n        data2: msg_loop,\n        data3: msg_loop,\n        data4: msg_loop,\n        data5: msg_loop,\n        model: \"B\"\n    };\n    node.send({\n        topic: baseTopic + \"no_\" + j,\n        payload: payload\n    });\n}\n\nflow.set(\"msg_loop\", msg_loop + 1);\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 100,
        "wires": [
            [
                "19f31dc650ce1a75"
            ]
        ]
    },
    {
        "id": "2ecb8157c4706bd5",
        "type": "inject",
        "z": "flow_tab_mqtt_simulation",
        "name": "Every 30s",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 860,
        "y": 180,
        "wires": [
            [
                "c0ca43cd4832cf50"
            ]
        ]
    },
    {
        "id": "c0ca43cd4832cf50",
        "type": "function",
        "z": "flow_tab_mqtt_simulation",
        "name": "Generate Status",
        "func": "let qty_topic = 20;\nlet baseTopic = \"status/mic/demo1/\";\nlet statusList = [\"run\", \"alarm\", \"stop\", \"wait\"];\n\nfor (let j = 11; j <= qty_topic; j++) {\n    let randomStatus = statusList[Math.floor(Math.random() * statusList.length)];\n    node.send({\n        topic: baseTopic + \"no_\" + j,\n        payload: { status: randomStatus }\n    });\n}\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 180,
        "wires": [
            [
                "19f31dc650ce1a75"
            ]
        ]
    },
    {
        "id": "943cf56294011a49",
        "type": "inject",
        "z": "flow_tab_mqtt_simulation",
        "name": "Every 30s",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 860,
        "y": 260,
        "wires": [
            [
                "dba54800dd010c32"
            ]
        ]
    },
    {
        "id": "dba54800dd010c32",
        "type": "function",
        "z": "flow_tab_mqtt_simulation",
        "name": "Generate Alarm",
        "func": "let qty_topic = 20;\nlet baseTopic = \"alarm/mic/demo1/\";\n\nfor (let j = 11; j <= qty_topic; j++) {\n    let alarmIndex = Math.floor(Math.random() * 4) + 1;\n    let alarmName = \"alarm\" + alarmIndex;\n    let topic = baseTopic + \"no_\" + j;\n\n    // Send Active Alarm\n    node.send({\n        topic: topic,\n        payload: { status: alarmName }\n    });\n\n    // Close Alarm after 1 second\n    setTimeout(() => {\n        node.send({\n            topic: topic,\n            payload: { status: alarmName + \"_\" }\n        });\n    }, 1000);\n}\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 260,
        "wires": [
            [
                "19f31dc650ce1a75"
            ]
        ]
    },
    {
        "id": "a242057e9a37d0e3",
        "type": "inject",
        "z": "flow_tab_mqtt_simulation",
        "name": "Every 5m",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 860,
        "y": 340,
        "wires": [
            [
                "e1dbf50a48fa91b0"
            ]
        ]
    },
    {
        "id": "e1dbf50a48fa91b0",
        "type": "function",
        "z": "flow_tab_mqtt_simulation",
        "name": "Generate ESP32",
        "func": "let qty_topic = 20;\nlet baseTopic = \"mqtt/mic/demo1/\";\n\nfor (let j = 11; j <= qty_topic; j++) {\n    let macId = \"mac-\" + Math.floor(Math.random() * 10);\n    node.send({\n        topic: baseTopic + \"no_\" + j,\n        payload: {\n            broker: 1,\n            modbus: 1,\n            mac_id: macId\n        }\n    });\n}\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 340,
        "wires": [
            [
                "19f31dc650ce1a75"
            ]
        ]
    },
    {
        "id": "19f31dc650ce1a75",
        "type": "mqtt out",
        "z": "flow_tab_mqtt_simulation",
        "name": "Publish to MQTT Broker",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker_local",
        "x": 1370,
        "y": 220,
        "wires": []
    },
    {
        "id": "17e34f5f5901648a",
        "type": "comment",
        "z": "flow_tab_mqtt_simulation",
        "name": "no_11 - no_20",
        "info": "",
        "x": 860,
        "y": 40,
        "wires": []
    },
    {
        "id": "mqtt_broker_local",
        "type": "mqtt-broker",
        "name": "Local MQTT Broker",
        "broker": "192.168.1.30",
        "port": "1883",
        "clientid": "mqtt_sim_nodered",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]